#container {
	font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-style: normal;
	text-align: center;
}


#portrait img {
	height: 175px;
	width: 200px;
	padding: 5px 10px;
	border: 2px;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.menu {
	background-color: #acacac;
	border: black solid 2px;
	height: 75px;
	width: 80%;
	margin-top: 5px;
	margin-bottom: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

.menu h3 {
	text-align: center;
}

#construction {
	text-align: center;
}

/*
#resume {
	background-color: #acacac;
	border: black solid 2px;
	height: 75px;
	width: 80%;
	margin-bottom: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#projects {
	background-color: #acacac;
	border: black solid 2px;
	height: 75px;
	width: 80%;
	margin-bottom: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#contact {
	background-color: #acacac;
	border: black solid 2px;
	height: 75px;
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

*/
