#portrait {
	padding: 5px 10px;
	border: 2px dashed black;
	border-radius: 50%;
}

#resume {
	background-color: blue;
	border: black solid 2px;
}

#projects {
	background-color: green;
	border: black solid 2px;
}

#contact {
	background-color: red;
	border: black solid 2px;
}

