/*
#portrait {
	height: 100px;
	width: 100px;
}
*/


#portrait img {
/* 	zoom: 175%; */
	height: 175px;
	width: 175px;
	padding: 5px 10px;
	border: 2px;
	border-radius: 50%;
}

#resume {
	background-color: blue;
	border: black solid 2px;
}

#projects {
	background-color: green;
	border: black solid 2px;
}

#contact {
	background-color: red;
	border: black solid 2px;
}

